#innerbody {
    border-top: 2px solid rgba(34, 34, 34, 0.5);
    border-bottom: 2px solid rgba(34, 34, 34, 0.5);

    #list {
        border-bottom: 1px solid rgba(129, 129, 129, 0.048);

        #row {
            background: rgba(34, 34, 34, 0.250);
            padding: 8px 12px;
            border-top: 1px solid rgb(63, 63, 63);
            border-bottom: 1px solid rgb(41, 41, 41);
            transition: 0.2s;
            display: flex;

            div { flex: 1; }
            div:last-child { text-align: right; }
        }

        #row:nth-child(even) {
            background: rgba(34, 34, 34, 0.411);
        }

        #row:last-child {
            border-bottom: 0px solid black;
        }

        #row:hover {
            padding-left: 17px;
        }

        #error {
            background: rgba(34, 34, 34, 0.250);
            border-top: 1px solid rgb(63, 63, 63);
            padding: 8px 12px;
        }
    }

    #content {
        background: rgba(34, 34, 34, 0.250);
        border-top: 1px solid rgb(63, 63, 63);
        border-bottom: 1px solid rgb(63, 63, 63);
        padding: 8px 12px;
    }
}